circle {
stroke: black;
stroke-with: 2px;
stroke-opacity: 1;
}
#pulse {
fill: yellow;
stroke-opacity: 0;
animation-name: pulse;
animation-duration: 2s;
animation-iteration-count: infinite;
transform-origin: 50% 50%;
}
@keyframes pulse {
  from {
    stroke-opacity: 1;
    stroke-width: 3px;
    transform: scale(0.5);
  }
  to {
    stroke-opacity: 0;
    stroke-with: 0px;
    transform: scale(2);

  }
}
